/* styling all files */

body {
    /* need to change this font to one that matches example a little closer */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    margin: 20px;
    text-align: center;
}

#time-display {
float: right;
margin: 0;
}

.button,
.answer-choices {
    background-color: rgb(107, 9, 199);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}




/* styling index.html */




/* styling questions.html */

.list {
    display: block;
    list-style-type: none;
    float: left;
    width: auto;
}