body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    margin: 20px;
}

.timer {
    position: relative; 
}

#time-display {
 position: absolute;
 top: 0;
 right: 0;
 margin-top: 0;
}