body {
    /* need to change this font to one that matches example a little closer */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    margin: 20px;
    text-align: center;

}

.time-display {
    float: right;
    margin: 0;
}

.button,
.answer-choice0,
.answer-choice1,
.answer-choice2,
.answer-choice3,
.submit-button,
#go-back, 
#clear {
    background-color: rgb(93, 5, 175);
    color: white;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 3px auto;
}

.container {
    padding-top: 5%;
}

.highscores {
    text-align: left;
}





/* styling for begin-here sections  */
.begin-page{
    display: initial;
}

.instrucions {
    width: 65%;
    margin-left: 20%;
}







/* styling for questions-begin section */
.questions-begin-page {
    display: none;
}

.question {
    margin-bottom: 10px;
    font-size: 32px;
}

.list {
    display: block;
    list-style-type: none;
    float: left;
    width: auto;
    text-align: left;
    padding-left: 27%;
}





/* styling for user-entry-page section */
.user-entry-page { 
    visibility: hidden;
}





/* styling for view-highscores-page section */
.view-highscores-page {
    visibility: hidden;
}

.highscore-container {
    padding-left: 30%;
    padding-top: 5%;
}

.stored-user-initials {
    background-color:thistle;
    width: 40%;
    margin-left: 400px;
}

#go-back,
#clear {
    margin: 15px;
}
